/*
** Those class are for the title, 
*/

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12vmin;
    letter-spacing: 0.4px;
    word-spacing: 3px;
    color: #6F3500;
    font-weight: normal;
    text-decoration: overline rgba(68, 68, 68, 0.815);
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*
** Those class are for the index page, 
*/

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    background-image: url("../dres/liege.jpg");
    height: 100vh;
    
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body > * {
    text-align: center;
    flex : 1 100%;
}

header {
    border-radius: 0px;
    flex-grow: 1;
    order: 0;
    color: white;
    max-height: 51px;
}

.page-container {
    max-width: 100vw;
    overflow-y: scroll;
    flex-grow: 6;
}

/*
** Those class are for form, 
*/

label {
    display: block;
    width: 150px;
    float: left;
}

/*
** Those class are for dropdown, 
*/

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    max-width: 100vw;
    min-width: 100vw;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    overflow : hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100vw;
    min-width: 100vw;
    overflow : hidden;
    z-index: 50;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    z-index: 50;
}

.dropdown-content a:hover {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.dropdown a:hover {background-color: #ddd;}    

/*
** Those class are for connection menu, 
*/

.panda{
    position: absolute;
    right:2px;
    top:6px;
}

.form-connect-div {
    display: none;
    position: absolute;
    right : 2px;
    top: 55px;
    padding: 10px;    
    width: fit-content;
    aspect-ratio: 1/1;
}


.form-div {
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    border-bottom-right-radius: 60px 10px;
    z-index: 5;
}

/*
** Those class are for functionnal to hide and show elements, 
*/

.hidden {display: none;}

.show {display: block;}

/*
** Those class are for table border, 
*/

table{
    border: solid black 1px;
}

table *{
    border: solid black 1px;
}

/*
** Those class are effect for connection menu, 
** it keep the post-it effect
*/

.formular-div {
    z-index: 40;
    position: absolute;
    top: 51px;
    left : 0;
    width: calc(100vw);
    height: calc(100vh - 51px);
    background-color: rgba(0, 0, 0, 0.5);
}

/*
** Those class are effect for article in index pages, 
** it keep the post-it effect
*/

.article_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #1f2d38;
}

article {
    z-index: 0;
    margin: auto;
    padding: 10px;
    width: fit-content;
    max-width: 20vw;
    aspect-ratio: 1 / 1;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    border-bottom-right-radius: 60px 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

article:first-of-type {
    
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    
}

article:nth-of-type(1) {
    margin-left: calc(100vw / 6);   
}

article:nth-of-type(3) {
    margin-right: calc(100vw / 6);   
}

article:nth-of-type(even) {
    transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
}

.formular-div #mod_user-form{
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    line-height: normal;
    display: block;
    z-index: 50;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 20vw;
    max-height: 20vw;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    border-bottom-right-radius: 60px 10px;
    position: absolute;
    left:calc(50vw - 10vw);
    top:calc(40vh - 51px - 10vh);
}

.formular-div #mod_advertisements-form{
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    line-height: normal;
    display: block;
    z-index: 50;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 20vw;
    max-height: 20vw;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    border-bottom-right-radius: 60px 10px;
    position: absolute;
    left:calc(50vw - 10vw);
    top:calc(40vh - 51px - 10vh);
}

.formular-div #mod_company-form{
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    line-height: normal;
    display: block;
    z-index: 50;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 20vw;
    max-height: 20vw;
    background-color: #ffffa5;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    border-bottom-right-radius: 60px 10px;
    position: absolute;
    left:calc(50vw - 10vw);
    top:calc(40vh - 51px - 10vh);
}
